<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.boai.persistence.dao.AboutInfoDao">
    <resultMap id="BaseResultMap" type="org.boai.persistence.vo.AboutInfo">
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="TITLE" property="title" jdbcType="VARCHAR" />
        <result column="SUBTITLE" property="subtitle" jdbcType="VARCHAR" />
        <result column="IMAGE" property="image" jdbcType="VARCHAR" />
        <result column="CONTENT" property="content" jdbcType="VARCHAR" />
        <result column="ENABLE" property="enable" jdbcType="VARCHAR" />
        <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR" />
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
        ID, TITLE, SUBTITLE, IMAGE, CONTENT, ENABLE, CREATE_ID, CREATE_DATE, UPDATE_ID, UPDATE_DATE
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from ABOUT_INFO
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <select id="selectEnable" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from ABOUT_INFO
        <where>
            ENABLE = 'Y'
        </where>
    </select>
    <insert id="insert">
        insert into ABOUT_INFO ( <include refid="Base_Column_List" /> )
        values (
            #{id,jdbcType=DECIMAL},
            #{title,jdbcType=VARCHAR},
            #{subtitle,jdbcType=VARCHAR},
            #{image,jdbcType=VARCHAR},
            #{content,jdbcType=VARCHAR},
            #{enable,jdbcType=VARCHAR},
            #{createId,jdbcType=VARCHAR},
            #{createDate,jdbcType=TIMESTAMP},
            #{updateId,jdbcType=VARCHAR},
            #{updateDate,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective">
        insert into ABOUT_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> ID, </if>
            <if test="title != null"> TITLE, </if>
            <if test="subtitle != null"> SUBTITLE, </if>
            <if test="image != null"> IMAGE, </if>
            <if test="content != null"> CONTENT, </if>
            <if test="enable != null"> ENABLE, </if>
            <if test="createId != null"> CREATE_ID, </if>
            <if test="createDate != null"> CREATE_DATE, </if>
            <if test="updateId != null"> UPDATE_ID, </if>
            <if test="updateDate != null"> UPDATE_DATE, </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="subtitle != null">
                #{subtitle,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective">
        update ABOUT_INFO
        <set>
            <if test="title != null">
                TITLE = #{title,jdbcType=VARCHAR},
            </if>
            <if test="subtitle != null">
                SUBTITLE = #{subtitle,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                IMAGE = #{image,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                CONTENT = #{content,jdbcType=VARCHAR},
            </if>
            <if test="enable != null">
                ENABLE = #{enable,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                CREATE_ID = #{createId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                UPDATE_ID = #{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <delete id="deleteByPrimaryKey">
        delete from ABOUT_INFO where id = #{id,jdbcType=DECIMAL}
    </delete>
    <resultMap id="ResultMap" type="org.boai.persistence.vo.manual.AboutInfoVo">
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="TITLE" property="title" jdbcType="VARCHAR" />
        <result column="SUBTITLE" property="subtitle" jdbcType="VARCHAR" />
        <result column="ENABLE" property="enable" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectByTitle" resultMap="ResultMap">
        select
        ID, TITLE, SUBTITLE, ENABLE
        from ABOUT_INFO
        <where>
            <if test="title != null and title != ''"> TITLE like '%' || #{title,jdbcType=VARCHAR} || '%' </if>
        </where>
    </select>
</mapper>