<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.boai.persistence.dao.ActivityInfoDao">
    <resultMap id="BaseResultMap" type="org.boai.persistence.vo.ActivityInfo">
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="TITLE" property="title" jdbcType="VARCHAR" />
        <result column="SUBTITLE" property="subtitle" jdbcType="VARCHAR" />
        <result column="IMAGE" property="image" jdbcType="VARCHAR" />
        <result column="CONTENT" property="content" jdbcType="VARCHAR" />
        <result column="APPLY_START_DATE" property="applyStartDate" jdbcType="TIMESTAMP" />
        <result column="APPLY_END_DATE" property="applyEndDate" jdbcType="TIMESTAMP" />
        <result column="ACTIVITY_GROUP" property="activityGroup" jdbcType="VARCHAR" />
        <result column="ACTIVITY_DATE" property="activityDate" jdbcType="TIMESTAMP" />
        <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR" />
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
        ID, TITLE, SUBTITLE, IMAGE, CONTENT, APPLY_START_DATE, APPLY_END_DATE, ACTIVITY_GROUP, ACTIVITY_DATE, CREATE_ID, CREATE_DATE, UPDATE_ID, UPDATE_DATE
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from ACTIVITY_INFO
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        ID, TITLE, SUBTITLE, CONTENT, ACTIVITY_GROUP, ACTIVITY_DATE
        from ACTIVITY_INFO
    </select>
    <insert id="insert">
        insert into ACTIVITY_INFO ( <include refid="Base_Column_List" /> )
        values (
            #{id,jdbcType=DECIMAL},
            #{title,jdbcType=VARCHAR},
            #{subtitle,jdbcType=VARCHAR},
            #{image,jdbcType=VARCHAR},
            #{content,jdbcType=VARCHAR},
            #{applyStartDate,jdbcType=TIMESTAMP},
            #{applyEndDate,jdbcType=TIMESTAMP},
            #{activityGroup,jdbcType=VARCHAR},
            #{activityDate,jdbcType=TIMESTAMP},
            #{createId,jdbcType=VARCHAR},
            #{createDate,jdbcType=TIMESTAMP},
            #{updateId,jdbcType=VARCHAR},
            #{updateDate,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective">
        insert into ACTIVITY_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> ID, </if>
            <if test="title != null"> TITLE, </if>
            <if test="subtitle != null"> SUBTITLE, </if>
            <if test="image != null"> IMAGE, </if>
            <if test="content != null"> CONTENT, </if>
            <if test="applyStartDate != null"> APPLY_START_DATE, </if>
            <if test="applyEndDate != null"> APPLY_END_DATE, </if>
            <if test="activityGroup != null"> ACTIVITY_GROUP, </if>
            <if test="activityDate != null"> ACTIVITY_DATE, </if>
            <if test="createId != null"> CREATE_ID, </if>
            <if test="createDate != null"> CREATE_DATE, </if>
            <if test="updateId != null"> UPDATE_ID, </if>
            <if test="updateDate != null"> UPDATE_DATE, </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="subtitle != null">
                #{subtitle,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="applyStartDate != null">
                #{applyStartDate,jdbcType=TIMESTAMP},
            </if>
            <if test="applyEndDate != null">
                #{applyEndDate,jdbcType=TIMESTAMP},
            </if>
            <if test="activityGroup != null">
                #{activityGroup,jdbcType=VARCHAR},
            </if>
            <if test="activityDate != null">
                #{activityDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective">
        update ACTIVITY_INFO
        <set>
            <if test="title != null">
                TITLE = #{title,jdbcType=VARCHAR},
            </if>
            <if test="subtitle != null">
                SUBTITLE = #{subtitle,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                IMAGE = #{image,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                CONTENT = #{content,jdbcType=VARCHAR},
            </if>
            <if test="applyStartDate != null">
                APPLY_START_DATE = #{applyStartDate,jdbcType=TIMESTAMP},
            </if>
            <if test="applyEndDate != null">
                APPLY_END_DATE = #{applyEndDate,jdbcType=TIMESTAMP},
            </if>
            <if test="activityGroup != null">
                ACTIVITY_GROUP = #{activityGroup,jdbcType=VARCHAR},
            </if>
            <if test="activityDate != null">
                ACTIVITY_DATE = #{activityDate,jdbcType=TIMESTAMP},
            </if>
            <if test="createId != null">
                CREATE_ID = #{createId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                UPDATE_ID = #{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <delete id="deleteByPrimaryKey">
        delete from ACTIVITY_INFO where id = #{id,jdbcType=DECIMAL}
    </delete>
    <select id="selectByTitle" resultMap="BaseResultMap">
        select
        ID, TITLE, SUBTITLE, ACTIVITY_DATE
        from ACTIVITY_INFO
        <where>
            <if test="title != null and title != ''"> TITLE like '%' || #{title,jdbcType=VARCHAR} || '%' </if>
        </where>
    </select>
    <select id="selectImageByPrimaryKey" resultType="java.lang.String">
        select IMAGE from ACTIVITY_INFO where ID = #{id,jdbcType=DECIMAL}
    </select>
</mapper>