<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.boai.persistence.dao.ApplyInfoDao">
    <resultMap id="BaseResultMap" type="org.boai.persistence.vo.ApplyInfo">
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="ACTIVITY_ID" property="activityId" jdbcType="DECIMAL" />
        <result column="APPLY_NAME" property="applyName" jdbcType="VARCHAR" />
        <result column="APPLY_SEX" property="applySex" jdbcType="VARCHAR" />
        <result column="APPLY_PHONE" property="applyPhone" jdbcType="VARCHAR" />
        <result column="APPLY_EMAIL" property="applyEmail" jdbcType="VARCHAR" />
        <result column="APPLY_RESIDENCE" property="applyResidence" jdbcType="VARCHAR" />
        <result column="INFO_FROM" property="infoFrom" jdbcType="VARCHAR" />
        <result column="INTRODUCER_NAME" property="introducerName" jdbcType="VARCHAR" />
        <result column="APPLY_DATE" property="applyDate" jdbcType="TIMESTAMP" />
        <result column="MEMO" property="memo" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        ID, ACTIVITY_ID, APPLY_NAME, APPLY_SEX, APPLY_PHONE, APPLY_EMAIL, APPLY_RESIDENCE, INFO_FROM, INTRODUCER_NAME, APPLY_DATE, MEMO
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from APPLY_INFO
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <insert id="insert">
        insert into APPLY_INFO ( <include refid="Base_Column_List" /> )
        values (
            #{id,jdbcType=DECIMAL},
            #{activityId,jdbcType=DECIMAL},
            #{applyName,jdbcType=VARCHAR},
            #{applySex,jdbcType=VARCHAR},
            #{applyPhone,jdbcType=VARCHAR},
            #{applyEmail,jdbcType=VARCHAR},
            #{applyResidence,jdbcType=VARCHAR},
            #{infoFrom,jdbcType=VARCHAR},
            #{introducerName,jdbcType=VARCHAR},
            #{applyDate,jdbcType=TIMESTAMP},
            #{memo,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective">
        insert into APPLY_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> ID, </if>
            <if test="activityId != null"> ACTIVITY_ID, </if>
            <if test="applyName != null"> APPLY_NAME, </if>
            <if test="applySex != null"> APPLY_SEX, </if>
            <if test="applyPhone != null"> APPLY_PHONE, </if>
            <if test="applyEmail != null"> APPLY_EMAIL, </if>
            <if test="applyResidence != null"> APPLY_RESIDENCE, </if>
            <if test="infoFrom != null"> INFO_FROM, </if>
            <if test="introducerName != null"> INTRODUCER_NAME, </if>
            <if test="applyDate != null"> APPLY_DATE, </if>
            <if test="memo != null"> MEMO, </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="activityId != null">
                #{activityId,jdbcType=DECIMAL},
            </if>
            <if test="applyName != null">
                #{applyName,jdbcType=VARCHAR},
            </if>
            <if test="applySex != null">
                #{applySex,jdbcType=VARCHAR},
            </if>
            <if test="applyPhone != null">
                #{applyPhone,jdbcType=VARCHAR},
            </if>
            <if test="applyEmail != null">
                #{applyEmail,jdbcType=VARCHAR},
            </if>
            <if test="applyResidence != null">
                #{applyResidence,jdbcType=VARCHAR},
            </if>
            <if test="infoFrom != null">
                #{infoFrom,jdbcType=VARCHAR},
            </if>
            <if test="introducerName != null">
                #{introducerName,jdbcType=VARCHAR},
            </if>
            <if test="applyDate != null">
                #{applyDate,jdbcType=TIMESTAMP},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <select id="countByActivityId" resultType="java.lang.Integer">
        select count(*) from APPLY_INFO where ACTIVITY_ID = #{activityId,jdbcType=DECIMAL}
    </select>
    <select id="selectApplyInfo" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from APPLY_INFO
        <where>
            <if test="activityId != null and activityId != ''"> ACTIVITY_ID = #{activityId,jdbcType=DECIMAL} </if>
            <if test="applyName != null and applyName != ''"> and APPLY_NAME = #{applyName,jdbcType=VARCHAR} </if>
        </where>
    </select>
</mapper>