<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.boai.persistence.dao.ManagerInfoDao">
    <resultMap id="BaseResultMap" type="org.boai.persistence.vo.ManagerInfo">
        <id column="ID" property="id" jdbcType="DECIMAL" />
        <result column="TITLE" property="title" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="IMAGE" property="image" jdbcType="VARCHAR" />
        <result column="DESCRIPTION_1" property="description1" jdbcType="VARCHAR" />
        <result column="DESCRIPTION_2" property="description2" jdbcType="VARCHAR" />
        <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
        <result column="UPDATE_ID" property="updateId" jdbcType="VARCHAR" />
        <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List">
        ID, TITLE, NAME, IMAGE, DESCRIPTION_1, DESCRIPTION_2, CREATE_ID, CREATE_DATE, UPDATE_ID, UPDATE_DATE
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from MANAGER_INFO
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        ID, TITLE, NAME, DESCRIPTION_1, DESCRIPTION_2, CREATE_ID, CREATE_DATE, UPDATE_ID, UPDATE_DATE
        from MANAGER_INFO
    </select>
    <insert id="insert">
        insert into MANAGER_INFO ( <include refid="Base_Column_List" /> )
        values (
            #{id,jdbcType=DECIMAL},
            #{title,jdbcType=VARCHAR},
            #{name,jdbcType=VARCHAR},
            #{image,jdbcType=VARCHAR},
            #{description1,jdbcType=VARCHAR},
            #{description2,jdbcType=VARCHAR},
            #{createId,jdbcType=VARCHAR},
            #{createDate,jdbcType=TIMESTAMP},
            #{updateId,jdbcType=VARCHAR},
            #{updateDate,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective">
        insert into MANAGER_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> ID, </if>
            <if test="title != null"> TITLE, </if>
            <if test="name != null"> NAME, </if>
            <if test="image != null"> IMAGE, </if>
            <if test="description1 != null"> DESCRIPTION_1, </if>
            <if test="description2 != null"> DESCRIPTION_2, </if>
            <if test="createId != null"> CREATE_ID, </if>
            <if test="createDate != null"> CREATE_DATE, </if>
            <if test="updateId != null"> UPDATE_ID, </if>
            <if test="updateDate != null"> UPDATE_DATE, </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="description1 != null">
                #{description1,jdbcType=VARCHAR},
            </if>
            <if test="description2 != null">
                #{description2,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                #{createId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                #{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective">
        update MANAGER_INFO
        <set>
            <if test="title != null">
                TITLE = #{title,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                IMAGE = #{image,jdbcType=VARCHAR},
            </if>
            <if test="description1 != null">
                DESCRIPTION_1 = #{description1,jdbcType=VARCHAR},
            </if>
            <if test="description2 != null">
                DESCRIPTION_2 = #{description2,jdbcType=VARCHAR},
            </if>
            <if test="createId != null">
                CREATE_ID = #{createId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateId != null">
                UPDATE_ID = #{updateId,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate,jdbcType=TIMESTAMP}
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <delete id="deleteByPrimaryKey">
        delete from MANAGER_INFO where id = #{id,jdbcType=DECIMAL}
    </delete>
    <select id="selectByName" resultMap="BaseResultMap">
        select
        ID, TITLE, NAME
        from MANAGER_INFO
        <where>
            <if test="name != null and name != ''"> NAME like '%' || #{name,jdbcType=VARCHAR} || '%' </if>
        </where>
    </select>
    <select id="selectImageByPrimaryKey" resultType="java.lang.String">
        select IMAGE from MANAGER_INFO where ID = #{id,jdbcType=DECIMAL}
    </select>
</mapper>